#game {
    width:760px;
    height:800px;
    background: transparent url(../img/bg_1.jpg) repeat scroll top left;
}

#board {
    position:absolute;
    top:0px;
    left:0px;
}

.zoomPad{
    float:left;
    /*    width:218px;*/
    /*    height:138px;*/
    position:relative;
    left:0;
    top:139px;
    cursor: default;
    z-index:10000;
    background-color: #000;
}

.zoomPup{
    background-color: #FFF;
    opacity: 0.6;
    border:1px solid #f00;
    z-index:1000;
    cursor: move;
    top: 0;
    left: 0;
    position: inherit;
    width:38px;
    height:34px;
}

#map {
    position:absolute;
    top: 0px;
    left: 0px;
    border-right:1px solid #444;
    border-bottom:1px solid #444;
}
.zoomWindow{
    position:relative;
    left:0;
    top:0;
    background:#000;
    display:block;
    overflow:hidden;
    width: 760px;
    height: 660px;
    clear:both;
}

.castle {
    position:absolute;
    width:80px;
    height:80px;
    background: url(../img/game/castle_neutral.png) center center no-repeat;
    border:none;
    cursor: crosshair;
    z-index: 202;
    /*    display:none;*/
}
.c{
    width:4px;
    height:4px;
    position:absolute;
    background:#aaa;
}

.ruin {
    position:absolute;
    width:40px;
    height:40px;
    background: url(../img/game/ruin.png) center center no-repeat;
    border:none;
    cursor: crosshair;
    z-index: 200;
}
.tower {
    position:absolute;
    width:40px;
    height:40px;
    background: url(../img/game/tower_neutral.png) center center no-repeat;
    border:none;
    cursor: crosshair;
    z-index: 200;
}
.army {
    position:absolute;
    width:40px;
    height:40px;
    /*    display:none;*/
    border:none;
    z-index: 1000;
}
.a{
    width:2px;
    height:2px;
    position:absolute;
}
.unit {
    margin-top:10px;
    margin-left:12px;
}

.path {
    position:inherit;
    width:40px;
    height:40px;
    border:none;
    z-index:201;
    padding-left:2px;
    color:white;
    text-shadow:#000 1px 1px 3px;
    background:#000;
    opacity:0.66;
}

.path1 {
    opacity:0.66;
}

.path2 {
    opacity:0.33;
}

.field {
    width:38px;
    height:38px;
    position:inherit;
    border:1px solid white;
    color:yellow;
    font-size:10px;
    text-align:center;
    line-height:38px;
    z-index:7000;
}

#gameMenu {
    /*    float:right;*/
    /*    height:130px;*/
}

#gameMenu span{
    color:#eee;
}

.gameMenu {
    float:left;
    overflow:hidden;
}

.gameMenu.one {
    /*    width:184px;*/
}

.gameMenu.two {
    width:170px;
}

.gameMenu.three {
    border-left:1px solid #555;
}

.gameMenu p {
    height:15px;
}

#gameMenu .button{
    line-height:12px;
    padding:1px;
    margin:1px;
    background: #800;
    color:#ccc;
}
#gameMenu .button:hover{
    color:#fff;
}
#gameMenu .button:active{
    color:#f00;
    text-shadow:-1px -1px 1px #000;
}

#gameMenu .buttonOff{
    background: #555;
    color:#444;
}

#gameMenu .buttonOff:hover{
    background: #555;
    color:#444;
    text-shadow:none;
}

#playersLabel{
    float:left;
    font-size:20px;
}

.playersBox{
    clear:both;
    margin:2px;
    text-align:center;
    /*    min-width:80px;*/
    height:17px;
}
.playersBox div {
    border:1px solid #555;
}

.playersBox div div{
    border:none;
    width:31px;
    height:12px;
    padding:2px;
    float:left;
}

.playersBox div div.nr{
    width:6px;
}

.playersBox div div.turn{
    color:#e00;
}

.playersBox div.green div.color{
    color:#ddd;
}

#armyButtonsBox{
    /*    height:69px;*/
}
#armyButtonsBox div.armyButtons {
    clear:both;
    /*    margin:2px;*/
    text-align:center;
    /*    width:50px;*/
    height:18px;
}

#armyButtonsBox div div.armyButton{
    /*    width:83px;*/
}


.message {
    width: 260px;
    min-height: 225px;
    border:1px solid #555;
    z-index:7000;
    background: #444;
    position:relative;
    left:280px;
    top:50px;
    overflow-x: hidden;
    border-radius: 3px;
    box-shadow: 3px 3px 10px #000;
}

.message h3 {
    color:#fff;
    margin:4px;
}

.message h4 {
    color:#ddd;
    margin:3px 3px 3px 4px;
    float:right;
}

.message h5 {
    margin:2px 2px 2px 4px;
    color:#d6d6d6;
}

.message .production {
    background: #CECECE;
    text-shadow:none;
}

.message .production .unit {
    margin:2px;
    width:125px;
    text-align:center;
    border:1px solid #c0c0c0;
}

.message .production .unit div {
    float:left;
    padding:5px 0 5px 5px;
    width:25px;
}

.message .production .unit div.attributes {
    float:left;
    padding:1px;
    width:88px;
}

.message .production .unit div p {
    text-align:right;
    height: 15px;
}

.message .production .unit div input {
    margin-top:7px;
}

.message .production .unit p {
    clear:both;
    height:18px;
}

.message .cancel {
    /*     float:left; */
}

.message .right {
    float:right;
}

.message p.h{
    line-height:24px;
}

.message .split div.row{
    background:#555;
    clear:both;
    height:31px;
    border-left:1px solid #444;
    border-right:1px solid #444;
    border-top:1px solid #444;
}

.message .split div.row div{
    width:30px;
    height:30px;
    position:relative;
    top:9px;
    left:9px;
}

.message .split div.row div.nr{
    position:relative;
    top:2px;
    left:2px;
    width:20px;
    height:15px;
    float:left;
    display: block;
}

.message .split div.row span{
    position:relative;
    top:17px;
    left:0px;
}

.message .split div.row img{
    margin:1px 12px;
}

.message .split div.row div.img{
    width:50px;
    height:30px;
    float:left;
    position:relative;
    top:0px;
    left:0px;
}

.message .status div.row{
    background:#555;
    clear:both;
    height:55px;
    border-left:1px solid #444;
    border-right:1px solid #444;
    border-top:1px solid #444;
}

.message .status div.row div{
    /*    width:180px;*/
    height:55px;
    position:relative;
    top:0px;
    left:0px;
}

.message .status div.row div p{
    height:14px;
}

.message .status div.row div.nr{
    position:relative;
    top:2px;
    left:2px;
    width:20px;
    height:15px;
    float:left;
    display: block;
}

.message .status div.row img{
    margin:10px 5px;
}

.message .status div.row div.img{
    width:43px;
    height:30px;
    float:left;
    position:relative;
    top:0px;
    left:0px;
}

.message p{
    height:24px;
}

#gameMenu .message .button{
    height:13px;
}

.message .go {
    margin:20px auto;
    width:50px;
}

.message .battle {
    width:100%;
    text-align:center;
    margin-top:4px;
    min-height:31px;
}

.center {
    text-align:center;
}

.split p {
    text-align:center;
    margin:2px;
    background: #CECECE;
    padding:1px;
}

#log{
    width:150px;
    height:29px;
}

#turnBox{
    margin:2px;
    height:12px;
}

#turnBox div{
    /*    width:90px;*/
}

#chatBox{

}

#chatBox #chatWindow{
    width:200px;
    height:121px;
    border: none;
    overflow:hidden;
    /*    border-bottom:1px solid #cecece;*/
    background:#444;
    color:#fff;
    text-shadow:none;
    padding-left:1px;
}

#chatBox #chatWindow div{
    position:relative;
    top:85px;
    left:0;
    width:100%;
    border: none;
    line-height:12px;
    font-size:10px;
    font-family:arial;
}

#chatBox input{
    border: none;
    width:165px;
    height:16px;
    background:#cecece;
    border-top:1px solid #555;
    border-right:1px solid #555;
    border-bottom:1px solid #555;
}

#chatBox .send .right{
    padding:1px;
    background:#444;
}

#chatBox .button{
    margin:0;
    width:28px;
}

#goldBox{
    height:28px;
}

#goldBox div div{
    width:56px;
    height:14px;
}

#goldBox div .text-right{
    color:yellow;
}

#nameBox{
    height:14px;
}

#attrBox{
    height:14px;
}

#attrBox div{
    width:56px;
}

.text-right{
    text-align:right;
}

.terrain {
    z-index:7000;
    position:relative;
    color:white;
    text-shadow: #000 1px 1px 3px;
    top:0px;
    left:220px;
}