* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page {
    background: none;
    margin: 0;
    width: auto;
}

#game {
    /*height:800px;*/
    /*background: transparent url('../img/bg_1.jpg') repeat scroll top left;*/
    font-size: 14px;
}

#board {
    position: absolute;
    top: 0px;
    left: 0px;
}

.zoomPad {
    position: absolute;
    top: 10px;
    left: 10px;
}

.zoomPadLayout {
    position: absolute;
    cursor: default;
    z-index: 21000;
    background: transparent url('../img/game/message_bg.png');
    border-bottom-right-radius: 10px;
    border: 1px solid #555;
    box-shadow: 5px 5px 20px #000;
    top: -10px;
    left: -10px;
}

.zoomPup {
    background-color: #FFF;
    opacity: 0.25;
    border: 1px solid #fff;
    top: 0;
    left: 0;
    position: absolute;
    cursor: url('../img/game/lupa.png') 13 13, crosshair;
    z-index: 21001;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: url('../img/game/lupa.png') 13 13, crosshair;
    border-bottom-right-radius: 3px;
}

.zoomWindow {
    position: relative;
    left: 0;
    top: 0;
    background: #000;
    display: block;
    overflow: hidden;
    height: 660px;
    clear: both;
}

.castle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('../img/game/castles/neutral.png') center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2202;
}

.c {
    width: 4px;
    height: 4px;
    position: absolute;
    background: #aaa;
    cursor: url('../img/game/lupa.png') 13 13, crosshair;
}

.ruin {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../img/game/ruin.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.tower {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../img/game/towers/neutral.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.army {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    z-index: 10000;
}

.a {
    width: 2px;
    height: 2px;
    position: absolute;
    cursor: url('../img/game/lupa.png') 13 13, crosshair;
}

.unit {
    margin-top: 10px;
    margin-left: 12px;
}

.path {
    position: inherit;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    z-index: 2201;
    color: white;
    text-shadow: none;
    background: #000;
    opacity: 0.66;
}

.path1 {
    opacity: 0.66;
}

.path2 {
    opacity: 0.33;
}

.field {
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    z-index: 1700;
    color: #000;
    text-shadow: none;
    /*background: yellow;*/
    /*opacity: 0.33;*/
}

#gameMenu {
    height: 145px;
}

#gameMenu span {
    color: #eee;
}

.gameMenu {
    float: left;
    overflow: hidden;
}

.gameMenu.one {
    float: right;
}

.gameMenu.two {
    width: 170px;
}

.gameMenu.three {
    border-left: 1px solid #555;
}

.gameMenu p {
    height: 15px;
}

#gameMenu .button {
    line-height: 12px;
    padding: 1px;
    margin: 1px;
    background: #800;
    color: #ccc;
}

#gameMenu .button:hover {
    color: #fff;
}

#gameMenu .button:active {
    color: #f00;
    text-shadow: -1px -1px 1px #000;
}

#gameMenu .buttonOff {
    background: #555;
    color: #444;
}

#gameMenu .buttonOff:hover {
    background: #555;
    color: #444;
    text-shadow: none;
}

#playersBox {
    border-top: none;
    border-bottom-left-radius: 10px;
    width: 230px;
    height: 216px;
}

#playersLabel {
    float: left;
    font-size: 20px;
}

.playersBox {
    clear: both;
    height: 109px;
    width: 220px;
}

.playersBox div div div {
    width: 110px;
    height: 110px;
    border: none;
}

.whitebg {
    background: url('../img/game/white.png') 1px 1px no-repeat;
}

#first {
    left: 20px;
    top: 35px;
}

.yellowbg {
    background: url('../img/game/yellow.png') 1px 1px no-repeat;
}

#second {
    left: 215px;
    top: 35px;
}

.greenbg {
    background: url('../img/game/green.png') 1px 1px no-repeat;
}

#third {
    left: 215px;
    top: 225px;
}

.redbg {
    background: url('../img/game/red.png') 1px 1px no-repeat;
}

#fourth {
    left: 20px;
    top: 225px;
}

.nr {
    position: absolute;
    text-shadow: 2px 2px 0 #000;
    color: white;
    line-height: 30px;
    font-size: 20px;
}

#turn {
    width: 80px;
    position: absolute;
    top: 75px;
    left: 60px;
    z-index: 28000;
}

#turnNumber {
    font-size: 30px;
    text-shadow: none;
    text-align: center;
    display: block;
}

#armyButtonsBox {
    /*    height:69px;*/
}

#armyButtonsBox div.armyButtons {
    clear: both;
    text-align: center;
}

#armyButtonsBox div div.armyButton {
    /*height: 26px;*/
}

.message {
    width: 321px;
    min-height: 70px;
    border: 1px solid #555;
    z-index: 27000;
    background: transparent url('../img/game/message_bg.png');
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000;
    text-shadow: 2px 2px 0 #000;
    padding: 10px;
}

.message h3 {
    color: orange;
    margin: 4px;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message .production {
    border: 1px solid #CECEb0;
    text-shadow: none;
    color: #000;
    margin-left: 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 2px;
    width: auto;
}

.message .production .unit {
    background: #CECEb0;
    border: none;
    margin: 0;
    text-align: center;
    width: 158px;
    cursor: pointer;
}

.message .production .unit:hover {
    background: #B5B59B;
}

.message .production .empty {
    border: none;
    width: 158px;
}

.message .production #blank {
    border: none;
}

.message .production input[type="radio"] {
    margin: 5px;
}

.message .production .unit div {
    float: left;
    padding: 5px 0 5px 5px;
    width: 25px;
}

.message .production .unit div.attributes {
    float: left;
    padding: 1px;
    width: 124px;
}

.message .production .unit div p {
    text-align: right;
    height: 15px;
}

.message .production .unit div input {
    margin-top: 7px;
}

.message .production .unit p {
    clear: both;
    height: 18px;
}

.message .production label {
    line-height: 20px;
    color: #CECEb0;
    text-transform: uppercase;
    padding-left: 4px;
}

.message .cancel {
    /*     float:left; */
}

.message .right {
    float: right;
}

.message p.h {
    /*line-height: 24px;*/
}

.message p.h input {
    margin: 5px 6px;
}

.message .split div.row {
    clear: both;
    height: 31px;
    margin: 1px;
    padding: 3px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message .split div.row div {
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    left: 9px;
}

.message .split div.row div.nr {
    position: relative;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 15px;
    float: left;
    display: block;
}

.message .split div.row span {
    position: relative;
    top: 17px;
    left: 0px;
}

.message .split div.row img {
    margin: 1px 12px;
}

.message .split div.row div.img {
    width: 50px;
    height: 30px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

.message .status div.row {
    clear: both;
    height: 52px;
    margin: 1px;
    padding: 3px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message .status div.row div {
    /*    width:180px;*/
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
}

.message .status div.row div p {
    height: 14px;
}

.message .status div.row div.nr {
    position: relative;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 15px;
    float: left;
    display: block;
}

.message .status div.row img {
    margin: 10px 5px;
}

.message .status div.row div.img {
    width: 43px;
    height: 30px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

.message p {
    /*height: 24px;*/
}

#gameMenu .message .button {
    height: 13px;
}

.message .go {
    margin: 20px auto;
    min-width: 50px;
}

.message .battle {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    min-height: 31px;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#log {
    width: 150px;
    height: 29px;
}

#turnBox {
    position: absolute;
    top: 185px;
    /*margin: 2px;*/
    /*height: 12px;*/
    width: 220px;
}

#turnBox div {
    /*    width:90px;*/
}

#chatBox {
    width: 500px;
    border-top-left-radius: 10px;
    text-transform: none;
}

#chatBox #chatWindow {
    height: 124px;
    border: none;
    overflow: hidden;
    color: #fff;
    text-shadow: none;
    margin: 2px;
}

#chatBox #chatWindow div {
    position: relative;
    top: 85px;
    left: 0;
    width: 100%;
    border: none;
    line-height: 12px;
    font-size: 10px;
    font-family: arial;
}

#chatBox input {
    width: 382px;
    line-height: 23px;
    border: 1px solid #000;
    margin: 2px;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#chatBox .send .right {
    padding: 3px;
}

#chatBox .button {
    margin: 0;
    width: 28px;
}

#timerBox {
    top: 602px;
    left: -1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 230px;
}

#timerBox table {
    width: 100%;
}

#timerBox #time {
    overflow: hidden;
}

#timerBox #time div {
    float: right;
}

#timerBox table td, #timerBox table th {
    padding: 1px;
    background: none;
}

#timerBox td {
    border: none;
}

#timerBox #second {
    width: 20px;
    text-align: center;
}

#timerBox #minute {
    width: 20px;
    text-align: center;
}

#timerBox #hour {
    min-width: 20px;
    text-align: center;
}

#goldBox {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#goldBox div div {
    width: 56px;
    height: 14px;
    padding: 2px;
    text-align: center;
}

#armyBox {
    top: 237px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 230px;
}

#armyBox #nameBox {
    line-height: 14px;
    margin: 5px;
    /*background: url("../img/bg_0.jpg");*/
}

#armyBox #attrBox {
    height: 26px;
    margin: 5px;
}

#armyBox #attrBox div {
    width: 73px;
    /*background: url("../img/bg_0.jpg");*/
}

.text-right {
    text-align: right;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 27000;
    left: 3px;
}

#nextTurn {
    /*margin-top: 10px;*/
}

#surrender {
    /*position: absolute;*/
    background: url("../img/game/white_flag.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: right;
    /*margin-right: 10px;*/
}

.message #income {
    position: absolute;
    top: 10px;
    left: 255px;
}

.box {
    position: absolute;
    z-index: 27000;
    background: transparent url('../img/game/message_bg.png');
    border: 1px solid #555;
    box-shadow: 5px 5px 20px #000;
    padding: 3px;
    color: #fff;
}

#playersCanvas {
    position: absolute;
    /*top: 30px;*/
    left: 10px;
    /*background: white;*/
}

#chest {
    background: #fff;
    text-shadow: none;
}

#chest div {
    border: 1px solid #ccc;
}

#inventory {
    background: #fff;
    text-shadow: none;
}

#inventory div {
    border: 1px solid #ccc;
}

.artifactDescription {
    position: absolute;
    background: #555;
    text-shadow: none;
    color: #fff;
    min-width: 200px;
    min-height: 200px;
    z-index: 28000;
}

#menuTop {
    border-bottom: none;
}

html {
    background: #000;
}