* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page {
    background: none;
    margin: 0;
    width: auto;
    min-height: 100%;
}

#game {
    /*height:800px;*/
    /*background: transparent url('../img/bg_1.jpg') repeat scroll top left;*/
    font-size: 14px;
}

#board {
    position: absolute;
    top: 0px;
    left: 0px;
}

.zoomPad {
    position: absolute;
    top: 10px;
    left: 10px;
}

.zoomPadLayout {
    border-bottom-right-radius: 10px;
    top: -10px;
    left: -10px;
}

.zoomPup {
    /*background-color: #FFF;*/
    /*opacity: 0.25;*/
    border: 1px solid #fff;
    top: 0;
    left: 0;
    position: absolute;
    cursor: url('../img/game/lupa.png') 13 13, crosshair;
    z-index: 21001;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: url('/img/game/lupa.png') 13 13, crosshair;
    border-bottom-right-radius: 3px;
}

.zoomWindow {
    position: relative;
    left: 0;
    top: 0;
    background: #000;
    display: block;
    overflow: hidden;
    height: 660px;
    clear: both;
}

.castle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('/img/game/castles/neutral.png') center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2202;
}

.zoomPad .c {
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    background: #9F9F9F;
    cursor: url('/img/game/lupa.png') 13 13, crosshair;
}

.ruin {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/game/ruin.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.tower {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/game/towers/neutral.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.army {
    position: absolute;
    width: 41px;
    height: 41px;
    border: none;
    z-index: 10000;
}

.flag {
    width: 37px;
    height: 37px;
    border: none;
    margin: 3px 3px 3px 4px;
}

.zoomPad .a {
    width: 1px;
    height: 1px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    cursor: url('/img/game/lupa.png') 13 13, crosshair;
}

.army .unit {
    position: relative;
    top: 6px;
    left: 8px;
    width: 31px;
    height: 31px;
    text-align: center;
}

.path {
    position: inherit;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    z-index: 2200;
    color: white;
    text-shadow: none;
    background: #000;
    opacity: 0.66;
}

.path1 {
    opacity: 0.66;
}

.path2 {
    opacity: 0.33;
}

.field {
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    z-index: 1700;
    color: #000;
    text-shadow: none;
    /*background: yellow;*/
    /*opacity: 0.33;*/
}

#playersBox {
    border-top: none;
    border-bottom-left-radius: 10px;
    width: 230px;
    height: 216px;
}

#playersLabel {
    float: left;
    font-size: 20px;
}

.playersBox {
    clear: both;
    height: 109px;
    width: 220px;
}

.playersBox div div div {
    width: 110px;
    height: 110px;
    border: none;
}

.whitebg {
    background: url('/img/game/white.png') 1px 1px no-repeat;
}

#first {
    left: 20px;
    top: 35px;
}

.yellowbg {
    background: url('/img/game/yellow.png') 1px 1px no-repeat;
}

#second {
    left: 215px;
    top: 35px;
}

.greenbg {
    background: url('/img/game/green.png') 1px 1px no-repeat;
}

#third {
    left: 215px;
    top: 225px;
}

.redbg {
    background: url('/img/game/red.png') 1px 1px no-repeat;
}

#fourth {
    left: 20px;
    top: 225px;
}

/*.nr {*/
/*position: absolute;*/
/*text-shadow: 2px 2px 0 #000;*/
/*color: white;*/
/*line-height: 30px;*/
/*font-size: 20px;*/
/*}*/

#exit.iconButton {
    top: 4px;
}

#show.iconButton {
    top: 41px;
}

#show img {
    margin-top: 5px;
}

#sound.iconButton {
    top: 78px;
}

#surrender.iconButton {
    top: 115px;
}

#statistics.iconButton {
    top: 152px;
}

#turn {
    width: 80px;
    position: absolute;
    top: 75px;
    left: 60px;
    z-index: 28000;
}

#turnNumber {
    font-size: 30px;
    text-shadow: none;
    text-align: center;
    display: block;
}

#armyButtonsBox {
    /*    height:69px;*/
}

#armyButtonsBox div.armyButtons {
    clear: both;
    text-align: center;
}

#armyButtonsBox div div.armyButton {
    /*height: 26px;*/
}

.message {
    min-width: 321px;
    min-height: 70px;
    border: 1px solid #555;
    z-index: 27001;
    background: transparent url('/img/game/message_bg.png');
    position: absolute;
    top: 60px;
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000;
    text-shadow: 2px 2px 0 #000;
    color: #fff;
    padding: 10px;
}

.message h3 {
    text-align: left;
    color: orange;
    margin: 4px;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    text-align: left;
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message fieldset {
    border: 1px solid #CECEb0;
    border-radius: 5px;
}

.message .production {
    text-shadow: none;
    color: #000;
}

.message .production table {
    padding: 2px;
    width: auto;

}

.message .production .unit {
    background: #CECEb0;
    border: none;
    margin: 0;
    text-align: center;
    width: 158px;
    cursor: pointer;
}

.message .production .unit:hover {
    background: #B5B59B;
}

.message .production .empty {
    border: none;
    width: 158px;
}

.message .production #blank {
    border: none;
}

.message .production input[type="radio"] {
    margin: 5px;
}

.message .production .unit div {
    float: left;
    padding: 5px 0 5px 5px;
    width: 25px;
}

.message .production .unit div.attributes {
    float: left;
    padding: 1px;
    width: 124px;
}

.message .production .unit div p {
    text-align: right;
    height: 15px;
}

.message .production .unit div input {
    margin-top: 7px;
}

.message .production .unit p {
    clear: both;
    /*height: 18px;*/
}

.message label {
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
}

.message .cancel {
    /*     float:left; */
}

.message .right {
    float: right;
}

.message p.h {
    /*line-height: 24px;*/
}

.message p.h input {
    margin: 5px 6px;
}

.message .split {
    overflow: hidden;
    overflow-y: auto;
}

.message .split div.row {
    clear: both;
    height: 31px;
    margin: 1px;
    padding: 3px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message .split div.row div {
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    left: 9px;
}

.message .split div.row div.nr {
    position: relative;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 15px;
    float: left;
    display: block;
}

.message .split div.row span {
    /*position: relative;*/
    /*top: 17px;*/
    /*left: 0px;*/
    line-height: 30px;
}

.message .split div.row img {
    margin: 1px 12px;
}

.message .split div.row div.img {
    width: 50px;
    height: 30px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

.message .status {
    overflow: hidden;
    overflow-y: auto;
}

.message .status div.row {
    clear: both;
    height: 75px;
    margin: 1px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.message .status table {
    width: auto;
}

.message .status td {
    border: none;
    text-align: right;
    height: 14px;
    padding: 0;
    margin: 0;
}

.message .status .value {
    color: yellow;
}

.message .status .value div {
    float: left;
    width: 20px;
}

.message .status .plus {
    color: lime;
}

.message .status div.row div.nr {
    position: relative;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 15px;
    float: left;
    display: block;
}

.message .status div.row img {
    margin: 10px 5px;
}

.message .status div.row div.img {
    width: 43px;
    height: 30px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

.message p {
    /*height: 24px;*/
}

/*#gameMenu .message .button {*/
/*height: 13px;*/
/*}*/

.message .go {
    margin: 20px auto;
    min-width: 50px;
}

.message .battle {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    min-height: 31px;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#log {
    width: 150px;
    height: 29px;
}

#turnBox {
    position: absolute;
    top: 185px;
    /*margin: 2px;*/
    /*height: 12px;*/
    width: 220px;
}

#turnBox div {
    /*    width:90px;*/
}

#chatBox {
    width: 502px;
    border-top-left-radius: 10px;
    text-transform: none;
}

#chatBox #chatWindow {
    height: 124px;
    border: none;
    overflow: hidden;
    overflow-y: scroll;
    color: #fff;
    text-shadow: none;
    margin: 2px;
}

#chatBox #chatWindow div {
    position: relative;
    left: 0;
    width: 100%;
    border: none;
    line-height: 12px;
    font-size: 10px;
    font-family: arial;
}

#chatBox input {
    width: 382px;
    line-height: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 2px;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#chatBox .send .right {
    padding: 3px;
}

#chatBox .button {
    margin: 0;
    padding: 0;
    width: 92px;
}

#timerBox {
    left: -1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 230px;
}

#timerBox .row {
    height: 30px;
}

#timerBox .left {
    padding: 1px;
    background: none;
    text-align: center;
    line-height: 30px;
}

#timerBox #timerScroll {
    overflow: hidden;
    overflow-y: scroll;
    width: 230px;
    margin-bottom: 5px;
}

#timerBox #timerRows {
    width: 230px;
}

#timerBox .color {
    width: 37px;
}

#timerBox .nr {
    width: 86px;
}

#timerBox .time {
    width: 92px;
    overflow: hidden;
}

#timerBox .time {
    overflow: hidden;
}

#timerBox .time div {
    float: right;
}

#timerBox #second {
    width: 20px;
    text-align: left;
    padding: 0 3px;
}

#timerBox #minute {
    width: 20px;
    text-align: left;
    padding: 0 3px;
}

#timerBox #hour {
    min-width: 20px;
    text-align: left;
    padding: 0 3px;
}

#goldBox {
    min-width: 200px;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: none;
}

#goldBox .left {
    margin: 0 2px;
    padding: 2px;
    border-radius: 5px;
}

#goldBox .left:hover {
    cursor: pointer;
    background: lime;
    color: #000;
}

#goldBox div div {
    height: 14px;
    padding: 2px;
    text-align: center;
}

#armyBox {
    top: 237px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 230px;
}

#armyBox #nameBox {
    height: 14px;
    line-height: 14px;
    margin: 5px;
    text-align: center;
    /*background: url("/img/bg_0.jpg");*/
}

#armyBox #attrBox {
    height: 26px;
    margin: 5px;
}

#armyBox #attrBox div {
    width: 73px;
    /*background: url("/img/bg_0.jpg");*/
}

.text-right {
    text-align: right;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 27000;
    left: 13px;
}

#nextTurn {
    /*margin-top: 10px;*/
}

.message #income {
    position: absolute;
    top: 10px;
    left: 255px;
}

.box {
    position: absolute;
    z-index: 27000;
    background: transparent url('/img/game/message_bg.png');
    border: 1px solid green;
    box-shadow: 5px 5px 20px #000;
    padding: 3px;
    color: #fff;
}

#playersCanvas {
    position: absolute;
    /*top: 30px;*/
    left: 10px;
    /*background: white;*/
}

#chest {
    background: #fff;
    text-shadow: none;
}

#chest div {
    border: 1px solid #ccc;
}

#inventory {
    background: #fff;
    text-shadow: none;
}

#inventory div {
    border: 1px solid #ccc;
}

.artifactDescription {
    position: absolute;
    background: #555;
    text-shadow: none;
    color: #fff;
    min-width: 200px;
    min-height: 200px;
    z-index: 28000;
}

html {
    background: #000;
}

.close {
    position: absolute;
    width: 19px;
    height: 19px;
    box-shadow: 5px 5px 20px #000;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    text-shadow: none;
}

.zoomPadLayout .close {
    top: 12px;
}

#timerBox .close {
    left: 225px;
    top: -10px;
}

#playersBox .close {
    left: -10px;
    /*top: -10px;*/
}

#chatBox .close {
    left: -10px;
    top: -10px;
}

#armyBox .close {
    left: -10px;
    top: -10px;
}

.font-yellow {
    color: yellow;
}

/*.armyButton .button {*/
/*background: transparent url('/img/game/message_bg.png');*/
/*}*/
/**/

.buttonColors {
    border: 1px solid lime !important;
    background: #000 !important;
    color: lime !important;
}

.buttonColors:hover {
    color: #000 !important;
    background: lime !important;
}

.armyButton .button.buttonOff {
    background: none !important;
    border: 1px solid gray;
    color: gray;
}

.iconButton, .button, #submit {
    border-radius: 5px;
    font-size: 14px;
    line-height: 27px;
    height: 27px;
}

.iconButton {
    width: 32px;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    left: 198px;
    text-align: center;
}

.iconButton img {
    display: inline-block;
    vertical-align: middle;
}

.iconButton .Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.buttonOff {
    border: 1px solid #444 !important;
    color: #444 !important;
}

.castle .name {
    position: absolute;
    top: 80px;
    left: -4px;
    width: 100px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
}

.castle .crown {
    position: absolute;
    top: -7px;
    left: 33px
}

.castle .shield {
    position: absolute;
    top: -10px;
    left: -4px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 17px;
    height: 20px;
}

.castle .hammer {
    position: absolute;
    top: -10px;
    left: 76px;
}

.battleUnit {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.killed {
    position: absolute;
    background: url("/img/game/killed.png");
    width: 25px;
    height: 28px;
    display: none;
}

.war {
    position: absolute;
    background: url("/img/game/war.png");
    width: 111px;
    height: 120px;
    z-index: 26999;
}

.ruinSearch {
    position: absolute;
    background: url("/img/game/ruinSearch.png");
    width: 38px;
    height: 40px;
    z-index: 99999;
}

.message div.overflow {
    overflow: hidden;
    overflow-y: auto;
}

.message div.overflow div {
    margin-right: 15px;
}

table.statistics td {
    border: none;
    text-shadow: none;
    padding: 4px;
}

table.statistics th {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

table.statistics td.shortName {
    background: none;
    border: 1px solid #fff;
    height: 38px;
}

table.statistics th.Players {
    border: none;
}

.relocatedProduction table {
    padding: 2px;
    width: 100%;
}

.relocatedProduction td {
    line-height: 30px;
    background: #CECEb0;
    border: none;
}

table.treasury {
    width: 250px;
    margin: 0 auto;
    text-shadow: none;
}

table.treasury td {
    border: 1px solid gray;
    background: #000;
    border-radius: 0;
    padding: 0 5px;
}

table.treasury tr:first-of-type td:first-of-type {
    border-top-left-radius: 5px;
}

table.treasury tr:first-of-type td:last-of-type {
    border-top-right-radius: 5px;
}

table.treasury tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.treasury tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

/*table.treasury tr:hover td {*/
/*background: grey;*/
/*}*/

table.treasury td.r {
    text-align: right;
}

table.treasury td.c {
    text-align: center;
}