html {
    background: #000 url('/img/login_bg.jpg') 0px -214px no-repeat !important;
}

#page {
    height: 500px !important;
    min-height: 500px !important;
    vertical-align: middle;
    position: relative;
}

#login form {
    background: url('/img/bg_0.jpg');
    border-radius: 5px;
    border: 2px solid grey;
    padding: 10px 0 20px 0;
    margin-top: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
}

#login label {
    color: #fff;
    text-shadow: 0 0 5px #000;
}

#versionNumber {
    padding: 5px !important;
    float: right !important;
    color: #fff !important;
}