*{padding: 0; margin: 0;}

body {
    color: #000;
    background: #eee;
    font-size: 11px;
}

#page {
    margin:0 auto;
    width:760px;
}

#menuTop {
    width:760px;
    height:20px;
    background: #000;
}

#menuTop a {
    color:#f00;
    float: right;
    text-decoration: none;
    line-height:20px;
    padding-right:10px;
}

a {
    color:blue;
    text-decoration: none;
}

.button {
    color:#ddd;
    padding:3px;
    border:1px solid #fff;
    margin:2px;
    text-align:center;
    cursor:pointer;
    height:14px;
    font-weight:bold;
    text-shadow: black -1px -1px;
    background:#555;
    /*     text-shadow: blue 2px 2px, red -2px -2px; */
}

.button:hover {
    color:#000;
    text-shadow: #fff 1px 1px;
    background:#eee;
    border:1px solid #555;
}

.block {
    display:block;
    width:50px;
}

ul{
    list-style-type:none;
}
li {
    float:left;
}