*{padding: 0; margin: 0;}
@font-face {
    font-family: "Deutsch";
    src: url('../Deutsch.ttf') format("truetype");
}

@font-face {
    font-family: "Van Helsing";
    src: url('../Van Helsing.ttf') format("truetype");
}

@font-face {
    font-family: "Alpine";
    src: url('../Alpine.ttf') format("truetype");
}

html{
    background: #000 url('../img/bg_0.jpg');
}
body {
    font-size: 18px;
    font-family: "Alpine", Verdana, Tahoma;
    letter-spacing:1px;
    color:#878967;
    text-shadow:2px 2px 0 #000;
    /*text-transform:uppercase;*/
}

#page {
    /*background: url('../img/bg_1.jpg');*/
    margin:0 auto;
    width:760px;
    min-height:800px;
}

#content{
    padding:10px 20px;

}

hr {
    margin-bottom: 10px;
}

#menuTop {
    height:17px;
    border-bottom: 1px solid #878967;
}

#menuTop p {
    color:white;
    float: left;
    line-height:20px;
    padding-left:10px;
}

#menuTop a {
    color:#fff;
    float: right;
    text-decoration: none;
    line-height:20px;
    padding-right:10px;
}

#menuTop a:hover {
    color: #000;
    text-shadow:none;
}

a {
    color:#ccc;
    text-decoration: none;
}

a:hover {
    color:#eee;
    text-decoration: none;
}

input {
    border-radius: 10px;
    padding:3px 6px 3px 6px;
}

.button, #submit {
    padding:2px 14px 0px 14px;
    margin:2px;
    text-align:center;
    cursor:pointer;
    line-height:14px;
    font-weight:bold;
    font-family: "Alpine", Verdana, Tahoma;
    font-size: 18px;
    color:#ccc;
    text-shadow: 2px 2px 0px #111;
    background:#600;
    border-top:1px solid #555;
    border-left:1px solid #555;
    border-right:1px solid #111;
    border-bottom:1px solid #111;
    border-radius: 9px;
    display:inline-block;
    box-shadow: 0 0 1px #000;
}

.button:hover, #submit:hover {
    color:#fff;
}
.button:active, #submit:active {
    color:#000;
    text-shadow: none;
    /*background:#500;*/
    background:#fff;
    border-top:1px solid #111;
    border-left:1px solid #111;
    border-right:1px solid #555;
    border-bottom:1px solid #555;
}

.buttonOff{
    color:#444;
    text-shadow: none;
    background:#555;
    border:1px solid #444;
    cursor:default;
}

.buttonOff:hover{
    color:#111;
    text-shadow: none;
    background:#555;
    border:1px solid #444;
    cursor:default;
}

.block {
    display:block;
    width:50px;
}

ul{
    list-style-type:none;
    height: 40px;
}
li {
    float:left;
}
h1{
    margin-top: 20px;
    color:#999;
}
h2{
    margin-top: 10px;
    color:#999;
    text-transform: none;
}
h3{
    color:#aaa;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.whitebg{
    background:#fff;
    text-shadow:none;
}
.greenbg{
    background:green;
    text-shadow:none;
}
.yellowbg{
    background:yellow;
    text-shadow:none;
}
.yellowbg a{
    color: #000;
}

.redbg{
    background:red;
    text-shadow:none;
}

table {
    border-spacing:1px;
    min-height:400px;
    width: 720px;
}

th {
    line-height:20px;
    text-align:center;
    background: url('../img/bg_0.jpg');
    padding:4px;
}

td {
    border:1px solid #878967;
    border-radius: 5px;
    height:20px;
    text-align:center;
    padding:2px;
}

#content form{
    /*background: url('../img/nav_bg.png');*/
    border-radius: 20px;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    /*color: #000;*/
    /*text-shadow: none;*/
    text-align: center;
}

#logout{
    text-transform: none;
}

#versionNumber {
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.font-yellow{
    color:yellow;
}

.font-orange{
    color:orange;
}

.errors{
    color:orange;
}