* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "xenippa";
    src: url('/xenippa1.ttf') format("truetype");
}

@font-face {
    font-family: "cretino";
    src: url('/cretino.ttf') format("truetype");
}

@font-face {
    font-family: "alpine";
    src: url('/Alpine.ttf') format("truetype");
}

@font-face {
    font-family: "aeiou2U";
    src: url('/_aeiou2U.ttf') format("truetype");
}

html {
    background: #000 url('../img/bg_0.jpg');
}

body {
    font-size: 18px;
    font-family: "xenippa", Verdana, Tahoma;
    letter-spacing: 2px;
    color: #878967;
    text-shadow: 1px 1px 0 #000;
}

#page {
    margin: 0 auto;
    width: 900px;
    min-height: 800px;
}

hr {
    margin-bottom: 10px;
}

#versionNumber {
    padding-left: 5px;
    padding-top: 15px;
    color: orange;
    float: left;
}

#menuTop {
    height: 38px;
    border-bottom: 1px solid #878967;
}

#menuTop p {
    color: white;
    float: left;
    line-height: 20px;
    padding-left: 10px;
}

#menuTop a {
    float: right;
}

a {
    text-decoration: none;
}

.paginationControl a {
    color: yellow;
}

.paginationControl a:hover {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px 6px;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
}

select {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 1px 1px 5px #000;
    background: #fff;
}

input[type="radio"], input[type="checkbox"] {
    box-shadow: none;
}

.button, #submit {
    padding: 3px 32px 0 32px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
    font-family: "xenippa", Verdana, Tahoma;
    font-size: 16px;
    color: #fff;
    text-shadow: none;
    background: #000;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px #000;
}

.button:hover, #submit:hover {
    background: #fff;
    color: #000;
}

.button#active {
    color: yellow;
}

.button#active:hover {
    color: #000;
}

.block {
    display: block;
    width: 50px;
}

ul {
    list-style-type: none;
    height: 40px;
}

li {
    float: left;
}

h1 {
    margin-top: 20px;
    color: #999;
    text-align: right;
}

#content #title {
    margin-top: 30px;
}

#title {
    margin: 0 auto;
    width: 760px;
    height: 192px;
    background: url('/img/logo_bg.png') 0px 15px no-repeat !important;
}

#title div {
    position: relative;
    width: 760px;
    height: 192px;
    text-shadow: 2px 1px 1px #000;
    background: url("/img/sword.png") no-repeat;
}

#title h1 {
    font-size: 60px;
    font-family: "Alpine", Verdana, Tahoma;
    color: red;
    position: absolute;
    top: 5px;
    left: 20px;
}

#title p {
    font-size: 20px;
    font-family: "Alpine", Verdana, Tahoma;
    position: absolute;
    top: 113px;
    left: 277px;
    color: #fff;
}

h2 {
    padding: 15px 0 0 15px;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 2px 1px 1px #000;
}

h3 {
    color: #aaa;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.font-black {
    text-shadow: 0px 0px 2px #fff;
}

table {
    border-spacing: 0px;
    min-width: 900px;
}

tr:nth-child(odd) {
    background: url(/img/bg_1.jpg);
    color: #D7DAA4;
}

tr:last-of-type td {
    border-bottom: 1px solid #000;
}

th {
    text-align: center;
    background: url('../img/bg_0.jpg');
    padding: 4px;
    color: #fff;
    background: #000;
}

td {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    height: 20px;
    text-align: center;
    padding: 2px;
}

td:first-of-type {
    border-left: 1px solid #000;
}

#logout {
    text-transform: none;
}

.errors {
    padding: 5px;
    color: orchid;
    text-shadow: 1px 1px 0 #000;
}

#content form {
    background: url('/img/bg_1.jpg') -407px -214px no-repeat;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
}

#content form label {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

dt {
    margin-top: 20px;
}

p#info {
    text-align: center;
}

.yellow {
    color: yellow;
}