#new {
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    height: 444px;
    box-shadow: 1px 1px 5px #000;
}

#new #img {
    width: 502px;
    height: 402px;
    margin: 20px;
}

#new img {
    max-height: 400px;
    max-width: 500px;
    border: 10px solid grey;
    box-shadow: 1px 1px 5px #000;
}

#new form {
    border: none;
    background: none;
    margin: 5px;
    padding: 5px;
    box-shadow: none;
}

#new #form {
    width: 260px;
}

#new input[type="text"] {
    width: 20px;
}

#join{
    margin-top: 3px;
}