
#playersingame td {
    line-height:26px;
    min-width: 100px;
    height: 62px;
    padding:2px;
    text-align: center;
}

.whitebg a{
    color:#333;
}
.greenbg a{
    color:#333;
}
#playersingame tr td div.left {
    min-width: 350px;
}
#playersingame tr td div.right {
    text-shadow:none;
    min-width:70px;
    margin-right:1px;
    line-height:24px;
}
#playersingame tr#green td div.right {
    background: #0f0;
    border-radius: 5px;
}

#playersingame tr#white td div.right {
    background: #fff;
    border-radius: 5px;
}

#playersingame tr#red td div.right {
    background: #f00;
    border-radius: 5px;
}

#playersingame tr#yellow td div.right {
    background: yellow;
    border-radius: 5px;
}

#playersout td {
    line-height:24px;
    padding:2px;
    margin:2px;
}

