
#playersingame td {
    line-height:26px;
    min-width: 100px;
    height: 62px;
}

#playersingame tr td div.left {
    width: 300px;
    overflow: hidden;
    padding: 5px;
}
#playersingame tr td div.right {
    text-shadow:none;
    min-width:117px;
    margin-right:1px;
    border-radius: 5px;
    padding: 5px;
}

#playersout td {
    line-height:24px;
    padding:2px;
    margin:2px;
}

