table {
    border-spacing:1px;
}

#mygames {
    height:400px;
}

th {
    height:20px;
    text-align:center;
    background:#ccc;
    padding:4px;
}

#mygames td {
    border:1px solid #ccc;
    height:20px;
    text-align:center;
    padding:2px;
}

#playersingame td {
    height:20px;
    min-width: 200px;
    background: #0398CA;
    border:1px solid #ccc;
    padding:2px;
    margin:2px;
}

#playersingame tr#green td {
    background: #0f0;
}

#playersingame tr#white td {
    background: #fff;
}

#playersingame tr#red td {
    background: #f00;
}

#playersingame tr#yellow td {
    background: yellow;
}

#playersout td {
    height:20px;
    min-width: 200px;
/*     background: #cecece; */
    border:1px solid #ccc;
    padding:2px;
    margin:2px;
}

#playersout tr#green td {
    background: #0f0;
}

#playersout tr#white td {
    background: #fff;
}

#playersout tr#red td {
    background: #f00;
}

#playersout tr#orange td {
    background: #FFAE57;
}